<Alloy>
    <TableView backgroundColor="#FAFAFA" onClick="onSelect">
      <HeaderView>
        <View height="144" width="fill" backgroundImage="/images/header.jpg" />
      </HeaderView>
      <Require src="menurow" title="Home" icon="home" controller="main"/>
      <Require src="menurow" title="Search" icon="search" controller="search"/>
      <Require src="menurow" title="Likes" icon="thumb_up" controller="likes"/>
      <Require src="menurow" title="About" icon="info_outline" controller="about"/>
    </TableView>
</Alloy>